body{
    display: flex;
    background-color: hsl(225, 100%, 94%);
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    font-family: Red Hat Display;
    img{
        
        z-index: -1;
        position: absolute;
        width: 100%;
        margin-bottom: 48%;
        
    }
    main{
        z-index: 2;
        width: 450px;
       height: 670px;
        background-color: white;
        border-radius: 15px;
       
        .imagen{
            img{
                max-width: fit-content;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                }
         }
        .texto{
            padding: 5px 50px;
            display: flex;
            flex-direction: column;
            .header{
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 65%;
                h1{
                    font-weight: 900;
                    text-align: center;
                    color: hsl(223, 47%, 23%)
                }
                p{
                    text-align: center;
                    color: hsl(224, 23%, 55%);
                    margin-top: -5px;
                }
            }
            .middle-part{
                display: flex;
                background-color: hsl(225, 100%, 98%);
                border-radius: 12px;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 10px 30px;
                margin-top: 10px;
                .img{
                    img{
                        width: 55px;
                        height: 55px;
                        z-index: 3;
                        position: absolute;
                        margin-top: -27px;
                        margin-left: -19px;
                       
                    }
                }
                .price{
                    display: flex;
                    flex-direction: column;
                    margin-right: 50px;
                    
                    h2{
                        display: flex;
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: unset;
                        color: hsl(223, 47%, 23%);
                        
                    }
                    p{
                        margin-top: 4px;
                        color:hsl(224, 23%, 55%);
                    }
                }
                .a{
                    a{
                        color:hsl(245, 75%, 52%);
                        font-weight: 700;
                        transition: 0.2s ease;
                        &:hover{
                            text-decoration: none;
                            color:hsl(245, 65%, 64%);
                            transition: 0.2s ease;
                        }
                        
                    }
                }
            }
            .order{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                .payment{
                    a{
                        text-align: center;
                        background-color: hsl(245, 75%, 52%);
                        padding: 13px 90px;
                        border-radius: 13px;
                        font-weight: 700;
                        text-decoration: none;
                        color:white;
                        font-size: 16px;
                        box-shadow: 0px 15px 15px hsl(225, 100%, 94%);
                        transition: 0.2s ease;
                        &:hover{
                            background-color:hsl(245, 65%, 64%);
                            transition: 0.2s ease;
                            color:white;
                        }
                    }
                }
                a{
                    margin-top: 40px;
                    font-weight: 900;
                    color:hsl(224, 23%, 55%);
                    text-decoration: none;
                    transition: 0.2s ease;
                        &:hover{
                            color:hsl(223, 47%, 23%);
                            transition: 0.2s ease;
                        }
                }
            }
        }
    }
}